/************ Major Game Areas ************/
div#game-container {
	position: relative;
	height: 568px;
	width: 320px;
	background-color: #d4d4d4;
	background-image: url('../img/background.png');
}

div#game-controls {
	position: absolute;
	padding-top: 470px;
}

div#available-attack-units-container {
	width: 320px;
	height: 90px;
	background-color: #c4c7d0;
}

div#attack-units-container {
	width: 320px;
	height: 90px;
	background-color: #c4d0c8;
}

div.circle-icon-wrapper {
	background-color: #ad3939;
}

div#game-statistics {
	position: absolute;
	margin-top: 354px;
	width: 320px;
}

/************* Game Controls **************/
img.game-control-icon {
	height: 74px;
}

.inline-block {
	display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
	color: white;
	font-family: Lato, sans-serif;
}

h2#playerPoints {
	font-size: 98px;
	font-weight: 300;
}

p#player-rank {
	font-size: 14px;
	font-weight: 300;
	padding-right: 6px;
	margin-top: -5px;
}

img#cash-icon, img#turn-icon {
	height: 17px;
}

div#turn-information {
	padding-top: 3px;
	clear: both;
}

div#sub-information {
	padding-top: 62px;
	font-weight: 300;
}

div.p-container {
	width: 60px;
	height: 20px;
	text-align: center;
}

div#opponent-score {
	text-align: center;
}



/***************** General *******************/
.fr {
	float: right;
}
.fl {
	float: left;
}

