/**
 * skyflyer.css
 *
 * Style sheet for the SkyFlyer application
 *
 * Joshua Dickson
 */


/********** Fixes for iOS  **********/
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/********** General Styles **********/
.fr { float: right }
.fl { float: left }



.drawing-icon {
	height: 60px;
	width: 60px;
	border-radius: 40px;
	background-color: red;
	position: absolute;
	top: -1000px;
	left: -1000px;
	text-align: center;
}

.drawing-icon-image {
	width: 36px;
	height: 36px;
	padding-top: 6px;
	padding-left: 12px;
	position: relative;
}

.cb {
	clear: both;
}

.drawing-icon-count {
	position: relative;
	top: -7px;
	text-align: center;
}




div#wrapper {
	position: relative;
}

div#grey-bg {
	position: absolute;
	width: 320px;
	height: 568px;
	background-color: #303136;
}


div#game-wrapper {
	position: absolute;
}

div#opponent-score {
	position: absolute;
	z-index: 1;
	padding-left: 136px;
}

div#opponent-score {
	position: absolute;
	z-index: 2;
}

#opponent-score-drawing-canvas {
	float: left;
}

#opponent-score-text {
	margin-left: 4px;
	float: left;
	font-weight: 400;
	margin-top: 1px;
}



#background-image {
	position: absolute;
	width: 320px;
	height: 600px;
	overflow: hidden;
}




/************ Major Game Areas ************/
div#game-container {
	position: relative;
	height: 568px;
	width: 320px;
	
}

div#home-page {
	height: 658px;
	width: 320px;
}

div#game-controls {
	position: absolute;
	margin-top: 484px;
	padding-left: 5px;
}

div#available-attack-units-container {
	width: 320px;
	height: 90px;
}

#home-page {
	position: relative;
}

div#attack-units-container {
	width: 320px;
	height: 90px;
	background-color: #c4d0c8;
	padding-left: 100px;
}

div.circle-icon-wrapper {
	background-color: #ad3939;
}

div#game-statistics {
	position: absolute;
	margin-top: 368px;
	margin-left: 2px;
	width: 320px;
}

/************* Game Controls **************/
img.game-control-icon {
	height: 74px;
}

h1, h2, h3, h4, h5, h6, p {
	color: white;
	font-family: Lato, sans-serif;
}

#wrapper {
	color: white;
	font-family: Lato, sans-serif;
}

h2#playerPoints {
	font-size: 98px;
	font-weight: 300;
}

p#player-rank {
	font-size: 14px;
	font-weight: 300;
	padding-right: 6px;
	margin-top: -5px;
}

img#cash-icon, img#turn-icon {
	height: 17px;
}

div#turn-information {
	padding-top: 3px;
	clear: both;
}

div#sub-information {
	padding-top: 62px;
	font-weight: 300;
}

div.p-container {
	width: 60px;
	height: 20px;
	text-align: center;
}

div#opponent-score {
	text-align: center;
}



/***************** General *******************/


/******************** Attack Inventory Container **********************/
div.attack-inventory-icon {
	/*text-align: center;*/
	width: 80px;
	height: 120px;
	float: left;
}

div.inventory-icon-wrapper {
	width: 80px;
	height: 64px;
}

p.unit-count {
	font-weight: 300;
	font-size: 15px;
}

div.unit-count-wrapper {
	margin: auto;
	text-align: center;
	width: 50px;
	height: 17px;
	border: 1px solid #ececec;
	border-radius: 15px;
}

#game-container-canvas-wrapper {
	position: absolute;
	width: 320px;
	height: 568px;
	opacity: 0.2;
}



#game-wrapper {
	position: absolute;
}


/************************* OVERLAY ************************/
div#message-display {
	background-color: #ececec;
	border-radius: 10px;
	display: none;
	position: absolute;
	z-index: 3;
	padding: 18px;
	box-shadow: 0px 1px 1px 0px #212226;
	margin-left: 22px;
	width: 240px;
}

div#message-display h3, div#message-display p {
	color: #2f3035;
	font-family: 'Noticia Text';
	text-align: center;
}

div#message-display h3 {
	font-size: 58px;
	padding: 12px;
}

div#message-display p {
	padding: 6px;
	font-size: 15px;
}

div.message-display-option-choice {
	border: 1px solid #2f3035;
	display: inline-block;
	padding: 12px;
	text-align: vertical;
	text-align: center;
	border-radius: 100px;
	height: 26px;
	width: 26px;
	margin-top: 16px;
	margin-bottom: 10px;
}

div.message-display-option-choice h5 {
	font-family: 'Noticia Text';
	color: #2f3035;
	padding-top: 4px;
}

/********* Hardware Accelerated Testing *********/

.attack-inventory-icon-2 {
	height: 60px;
	width: 60px;
	position: absolute;
	text-align: center;
	border-radius: 30px;
}

/*div#game-container-canvas-wrapper-2 {
	position: absolute;
}*/

img.tile-image {
	padding-top: 6px;
	height: 35px;
}

p.unitCount {
	margin-top: -6px;
}


